# 11. Recording the identification’s verification status

## Background/Motivation
A collection manager wants to record the identification’s verification status.

## Actors
Collection manager (in a wide sense) – a person that uses the system to manage a collection, possibly a curator, a collection manager, a collection assistant, or data capture person.

## Preconditions
An identification is recorded or is being recorded.

## Course of events
  1. The user edits an identification record.
  2. The user enters the identification’s verification status.

## Alternative paths

## Success post-conditions
The identification's verification status is persisted to the database and is then viewable from the user interface.

## Notes
Clarify what is being verified.